.Content {
    padding: 0px;
    margin-left: 0px;
    height: calc(100vh - 56px - 27px);
    max-width: calc(100vw - 20.95px);
    transition: max-width 0.5s;
}

.Content.isLeft, .Content.isRight {
    max-width: calc(100vw - 300px - 20.95px);
}

.Content.isLeft.isRight {
    max-width: calc(100vw - 300px - 300px - 20.95px - 20.95px);
}

.Content .scrollbar {
    max-height: calc(100vh - 56px - 27px);
}