.add-project{
    margin-right: 5px;
}
.project-content{
    margin-top: 10px;
    margin-left: 10px;
}
.project-navegator{
    height: 47px;
    overflow-wrap: nowrap; 
}
.close{
    margin-left: 10px;
}
.tab{
    display: inline-block;
    text-align: center;
    width: 170px;
}
.tab-label{
    display: inline-block;
	width: 108px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.element{
    width: 500px;
    display: inline-block;
    background-color: aqua;
    margin-left: 5px;
    margin-right: 5px;
}
.scrolling-wrapper{
    display: flex;
    overflow: hidden;
}