.Sidebar {
    min-width: 350px;
    max-width: 350px;
    height: calc(100vh - 56px);
    background:#23272b;
    color: #f8f9fa;
    padding: 15px;
    transition: all 0.5s;
}

.Sidebar.left {
    margin-left: -350px;
}

.Sidebar.right {
    margin-right: -350px;
}

.Sidebar.left.is-open {
    margin-left: 0;
    transition: .5s;
}

.Sidebar.right.is-open {
    margin-right: 0;
    transition: .5s;
}