.Sidebar {
    height: calc(100vh - 56px - 27px);
    padding: 15px;
    transition: margin 0.5s;
}

.Sidebar.left {
    min-width: 300px;
    max-width: 300px;
    margin-left: -300px;
    background:#23272b;
    color: #f8f9fa;
}

.Sidebar.right {
    min-width: 300px;
    max-width: 300px;
    margin-right: -300px;
    background:#23272b;
    color: #f8f9fa;
}

.Sidebar.left.is-open {
    margin-left: 0px;
}

.Sidebar.right.is-open {
    margin-right: 0px;
}