#loop-header {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 10px 0px 10px;
    font-size: 12px;
    font-weight: bold;
	background-image: url(./media/containers-blocks/default/hml.png), url(./media/containers-blocks/default/hm.png), url(./media/containers-blocks/default/hmr.png);
	background-position: left top, left 80px top, right top;
	background-size: 80px 100%, calc(100% - 89.5px) 100%, 10px 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}

#workspace {
    list-style: none;
    margin: 0px;
    padding-top: 10px;
	padding-left: 20px;
    background-image: url(./media/containers-blocks/default/btl.png), url(./media/containers-blocks/default/bt.png), url(./media/containers-blocks/default/btr.png),
                      url(./media/containers-blocks/default/bml.png), url(./media/containers-blocks/default/bm.png), url(./media/containers-blocks/default/bmr.png),
                      url(./media/containers-blocks/default/bbl.png), url(./media/containers-blocks/default/bb.png), url(./media/containers-blocks/default/bbr.png);
    background-position: left top, left 80px top, right top,
                         left top 10px, left 80px top 10px, right top 10px,
                         left bottom, left 80px bottom, right bottom;
    background-size: 80px 20px, calc(100% - 89.5px) 20px, 10px 20px,
                     80px calc(100% - 30px), calc(100% - 89.5px) calc(100% - 30px), 10px calc(100% - 30px), 
                     80px 20px, calc(100% - 89.5px) 20px, 10px 20px;
    background-repeat: no-repeat, no-repeat, no-repeat, 
                       no-repeat, no-repeat, no-repeat, 
                       no-repeat, no-repeat, no-repeat;
    padding-bottom: calc(calc(100vh - 57px - 27px - 28px) / 2);
    min-height: calc(100vh - 57px - 27px - 28px);
}