.scrollbar {
	overflow: hidden auto;
}

.scrollbar-primary::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #df691a;
}

.scrollbar-danger::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #d9534f;
}

.scrollbar-warning::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #f0ad4e;
}

.scrollbar-success::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5cb85c;
}

.scrollbar-info::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5bc0de;
}

.scrollbar-default::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #4e5d6c;
}

.scrollbar-secondary::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #375a7f;
}

