#blocks-container {
	position: absolute;
	top: 21px;
	bottom: 1px;
	min-width: 301px;
	width: 301px;
	max-width: 301px;
	overflow-x: none;
}
#separator {
	position: absolute;
	top: 21px;
	bottom: 1px;
	left: 301px;
	min-width: 10px;
	width: 10px;
	max-width: 10px;
	padding-left: 0px;
	padding-right: 0px;
	outline: none;
}
#workspace-container {
	position: absolute;
	top: 63px;
	bottom: 1px;
	left: 311px;
	right: 1px;
	border-color: #1b2e40;
	background-color: white;
	padding: 15px 15px calc(100vh - 37px) 15px;
}

#block-menu{
	width: 100%;
	margin:0px;
}

#block-content{
	width: 301px;
}

#project-navegator{
	position: absolute;
	top: 21px;
	left: 326px;
	right: 1px;
}

.block-section{
	padding: 15px;
	height: calc(100vh - 80px);
}

.block-menu-option {
	outline: none !important;
}

.tab-project{
	height: 100vh;
}

button.close{
	padding-left: 10px;
}